<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: 'Maven Pro', 'Prompt', 'Sarabun';
      background: linear-gradient(to bottom, #A494F7, #E6D8EF);
      height: 100vh;
    }

    .header_text {
      text-align: center;
    }

    .container {
      padding-top: 10%;
      padding-bottom: 10%;
    }

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    a:hover {
      color: black;
    }


    .container_form {
      margin-left: 350px;
      margin-right: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: solid black 1px;
      background-color: #CDC3FF;
      border-radius: 10px;
      gap: 10px;
      padding: 50px;
    }

    .btn-group {
      display: flex;
      justify-content: space-between;
    }

    .container_form button {
      margin-top: 20px;
      width: 40%;
    }

    .input-group span {
      background-color: #E6D8EF;
    }

    .btn-lg {
      background-color: hsl(277, 42%, 89%);
      color: black;
      border-radius: 15px;
    }

    .btn-lg:hover {
      background-color: hsl(277, 42%, 70%);
    }

    .btn-lg:active {
      background-color: hsl(250, 100%, 77%);
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- aria-label สำหรับอ่าน text to Voice Extension-->
    <div class="container_input">
      <h2 class="header_text fw-bold">Add Novel</h2>
      <form action="/addNovel" method="POST" class="container_form">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
          <input type="text" class="form-control" placeholder="name" aria-label="name" id="name" name="name" required>
        </div>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-align-left"></i></span>
          <input type="text" class="form-control" placeholder="text" aria-label="text" id="text" name="text" required>
        </div>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-link"></i></span>
          <input type="text" class="form-control" placeholder="url" aria-label="url" id="url" name="url" required>
        </div>
        <div class="btn-group">
          <button type="button" class="btn-lg btn-light"><a href="/login">Back to login</a></button>
          <button type="submit" class="btn-lg btn-light"><a href="/login">add</a></button>
        </div>
      </form>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>